### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Creating a DataFrame

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])

In [3]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

### Converting DataFrame(DF) to a CSV file

In [4]:
df.to_csv('Test1.csv')

### Selecting two columns as DF

In [5]:
df[['Column1','Column2']]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17

### Using loc

In [6]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

### Using iloc

In [7]:
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

### Converting DF to array

In [8]:
df.iloc[0:3,0:2].values

array([[0, 1],
       [4, 5],
       [8, 9]])

### Checking null values

In [9]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

### Value counts

In [10]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

### Unique values

In [11]:
df.Column1.unique()

array([ 0,  4,  8, 12, 16])

### Reading CSV

In [14]:
df = pd.read_csv('mercedesbenz.csv')
df.head(3)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0